*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body{
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background-color: #EBE9DF;
}

a{
	text-decoration: none;
}

li{
	list-style-type: none;
}
#content-page1{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

#title{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 5vh;
	color: #404040;
	margin-top: 10px;
	margin-bottom: 10px;
}

.nom{
	background: transparent url(landscape.jpeg) no-repeat center center;
	background-size: cover;
	width: 100%;
	min-height: 80vh;
	text-align: center;
	color: #404040;
	font-family: Times, Times New Roman, serif;
	font-size: 5vh;


}
#bg-img{
	width: 100%;
	height: 100%;

}

#picture-me img{
	display: inline-block;
	text-align: center;
	position: relative;
	top: -100px;
	border-radius: 50%;
	border: 10px solid white;
}

header{
	background-color: #E5E5E5;
}

header a {
	text-decoration: none;
	color: white;
}

footer{
	background-color: #E5E5E5;
}

header  ul{
	display: flex;
}

footer ul {
	display: flex;
}

footer li{
	flex-direction: row;
	list-style: none;
	padding: 3%;
	justify-content: space-between;
	color: white;
	font-family: Times, Times New Roman, serif;
}
header li{
	flex-direction: row;
	list-style: none;
	padding: 2%;
	justify-content: space-between;
	color: white;
	font-family: Times, Times New Roman, serif;
	vertical-align: middle;
}

#quality1{
	font-size: 50px;
	margin-bottom: 50px;
	font-family: Optima, sans-serif, italic;
	color: #404040;
	
}

.nombis{
	margin-top: 15px;
}

.bloc, .bloc1{
	display: grid;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 5%;

}

#part1{
	grid-column: 1;
	grid-row: 1;
	margin-right: 40px;
	color: #404040;
	font-size: 2vh;
}

#part2{
	grid-column: 2;
	grid-row: 1;
	margin-left: 40px;
	color: #404040;
	font-size: 2vh;
}

p{	
	display: flex;
	color: #404040;
	font-size: 2vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#part2bis{
	display: grid;
	color: white;
	font-family: Optima, sans-serif, italic;

}

#ic1{
	grid-row: 1;
	grid-column: 1;
	margin: 15px;
	padding: 5px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#ic2{
	grid-row: 1;
	grid-column: 2;
	margin: 15px;
	padding: 15px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#ic3{
	grid-row: 2;
	grid-column: 1;
	margin: 15px;
	padding: 5px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#ic4{
	grid-row: 2;
	grid-column: 2;
	margin: 15px;
	padding: 15px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#ic5{
	grid-row: 1;
	grid-column: 3;
	margin: 15px;
	padding: 15px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#ic6{
	grid-row: 2;
	grid-column: 3;
	margin: 15px;
	padding: 15px;
	background-color: #7e868e;
	border-radius: 20px;
	text-align: center;
}

#part1 > li {
	margin:10px;
}

#formationres{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/*Timeline*/

#timeline1, #timeline2{
	box-sizing: border-box;
	transition: all 300ms;
}

  ul.timeline {
    position: relative;
    padding: 10px 0;
    margin: 0;
    list-style: none;
    overflow: hidden;
    width:  100%;
	background-color: orange;
  }
  ul.timeline:before {
    content:  "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: calc(50% - 5px);
    z-index: 0;
	background-color: #EBE9DF;
  }
  ul.timeline:after {
    content:  "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: calc(50% - 5px);
    z-index: 0;
	background-color: #EBE9DF;
  }
  ul.timeline li {
    background: #7e868e;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    position: relative;
    z-index: 2;
    width:  calc(50% - 30px);
    clear: both;
  }
  ul.timeline li:before {
    content: "";
    display: block;
    width:  15px;
    height: 15px;
    border-radius: 50%;
    background: #EBE9DF;
    border: 3px solid orange;
    position: absolute;
    top: 4px;
  }
  ul.timeline li:nth-child(2n+1) {
    float: left;
  }
  ul.timeline li:nth-child(2n+1):before {
    right: -30.5px;
  }
  ul.timeline li:nth-child(2n) {
    float: right;
  }
  ul.timeline li:nth-child(2n):before {
    left: -30.5px;
  }
  ul.timeline li:after {
    content: "";
    display: block;
    width:  0;
    height: 0;
    border-top: 7.5px solid #EBE9DF;
    border-bottom: 7.5px solid #EBE9DF;
    position: absolute;
    top: 8px;
  }
  ul.timeline li:nth-child(2n+1):after {
    border-left: 7.5px solid #7e868e;
    right: -7px;
  }
  ul.timeline li:nth-child(2n):after {
    border-right: 7.5px solid #7e868e;
    left: -7px;
  }

  /*Fin de la timeline*/

.pro{
	display: grid;

	padding: 4%;	
}

.dev{
	grid-column: 1;
	margin: 10px;

}

.market{
	grid-column: 2;
	margin: 10px;
}

.design{
	grid-column: 3;
	margin: 10px;
	padding: 1px;
}

.language{
	grid-column: 4;
	margin: 10px;
}

h2{
	color: #404040;
	font-size: 2.8vh;
	margin-bottom: 10px;
}